{{ define "main" }}
<div class="px-72">
  <div class="min-h-screen bg-[#313244] px-16 pt-1">
    <p class="text-[#cdd6f4] text-5xl mt-6 mb-0">{{ .Title }}</p>

    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
    {{ $dateHuman := .Date | time.Format ":date_long" }}
    &nbsp;<time class="text-[#bac2de] text-italic" datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
    <br>

    <div class="flex flex-row space-x-2 mt-6">
      {{ partial "terms_list.html" . }}
    </div>

    <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">

    {{ if in .Params.tags "wip" }}
    <div class="flex grow w-full justify-center items-center">
      <p class="text-5xl">This page is currently under construction.</p>
    </div>
    {{ end }}

  </div>
</div>
{{ end }}
