{{ define "main" }}
<div class="scrollbar scrollbar-thumb-[#585b70] overflow-y-scroll flex justify-center">
  <div class="min-h-screen w-full lg:w-[65%] bg-[#313244] px-16 pt-1">
    <p class="prose text-[#cdd6f4] text-5xl mt-6 mb-2">{{ .Title }}</p>

    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
    &nbsp;<time class="text-base text-[#a6adc8] italic" datetime="{{ $dateMachine }}">last edited {{ .Lastmod | time.Format ":date_medium" }}</time>
    <br>

    <div class="prose flex flex-row space-x-2 mt-8">
      {{ partial "terms_list.html" . }}
    </div>

    <hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-700">

    {{ if in .Params.tags "wip" }}
      <div class="flex grow w-full justify-center items-center">
        <p class="prose max-w-none text-5xl">This page is currently under construction.</p>
      </div>
    {{ else }}
      <div class="prose prose-quoteless prose-blockquote:text-[#cdd6f4] before:prose-p:content-none after:prose-p:content-none overflow-x-hidden prose-strong:text-[#cdd6f4] max-w-none w-full prose-headings:overflow-y-hidden prose-p:overflow-y-hidden prose-headings:mb-0 prose-xl prose-code:text-[#cdd6f4] prose-code:bg-[#585b70] prose-code:rounded prose-headings:text-4xl prose-headings:underline prose-headings:font-normal prose-headings:text-[#cdd6f4]">
        {{.Content}}
      </div>
    {{ end }}
  </div>
</div>
{{ end }}
