{{ define "main" }}
<!-- Home page -->
<section class="w-full h-screen snap-start">
  {{ $asset := resources.Get "img/pfp.jpg" }}
  {{ $img := $asset.Fit "600x400" }}
  <div class="flex flex-col h-screen w-screen justify-center items-center">
  <img class="mx-auto translate-y-[0rem] w-40 h-40 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500" src="{{ $img.RelPermalink }}" alt="Bordered avatar">
  <p class="text-3xl -translate-y-[3rem] text-bold font-fira">TheGreatWaves</p>
  <div class="flex flex-row gap-8">
    <a href="https://github.com/TheGreatWaves" target="_blank" class="hover:text-[#9399b2] -translate-y-[4rem]">
      <i class="fa fa-github" style="font-size:48px;"></i>
    </a>
    <a href="https://www.linkedin.com/in/ochawin-apichattakul-0a5539309/" target="_blank" class="hover:text-[#9399b2] -translate-y-[4rem]">
      <i class="fa fa-linkedin-square inherit" style="font-size:48px;"></i>
    </a>
  </div>
</section>

<!--  About me -->
<section class="flex w-screen h-screen snap-start items-start flex-col">
  <div class="px-64 h-auto w-screen flex flex-row bg-gradient-to-r from-[#45475a] via-[#585b70] to-[#45475a]">
    <div class="flex w-1/3 h-full px-16 items-center justify-center">
      <p class="text-[#cdd6f4] text-4xl">About Me</p>
    </div>
    <div class="flex w-2/3 h-full px-12 items-center justify-start ml-16">
      <p class="text-[#cdd6f4] prose-lg">
        Hello~! I'm Onami, a programmer with a passion for systems. Like many, I started with game development, but instead of learning how to use engines, I first learnt how to write one - it was just too facisnating. These days I'm dabbling in simulation, emulation and compiler construction - all topics which were tangential to my game engine construction journey.
      </p>
    </div>
  </div>
</section>

<!--  Projects -->
<section class="flex w-screen h-screen snap-start items-center flex-col gap-8 pb-8">
  <!-- Top bar -->
  <div class="px-64 h-auto w-screen flex flex-row bg-gradient-to-r from-[#45475a] via-[#585b70] to-[#45475a]">
    <div class="flex w-1/3 h-full px-16 items-center justify-center">
      <p class="text-[#cdd6f4] text-4xl">Projects</p>
    </div>
    <div class="flex w-2/3 h-full px-60 items-center justify-start ml-16">
      <p class="text-[#cdd6f4] prose-lg">My favorite projects ~</p>
    </div>
  </div>

  <!-- Container for projects -->
  <div class="grid grid-cols-2 gap-8 w-3/5 h-full">
    {{ $taxo := "favorited" }}
    {{ $projects := ($.Site.GetPage (printf "/%s" $taxo)) }}
    {{ range $projects.Pages }}
      {{ print . }}

      <!-- Project -->
      <a href="{{ .RelPermalink }}" class="w-auto h-auto bg-[#585b70] ring-2 ring-gray-300 rounded text-[#cdd6f4] no-underline hover:no-underline hover:text-[#cdd6f4] hover:ring-4">

        <div class="flex px-8 h-full flex-col position:relative -p-1 space-y-1">
          <!-- Title -->
          <div><p class="text-2xl my-2 text-bold no-underline">{{ .Title }}</p></div>

          <hr class="h-px bg-gray-200 border-0 dark:bg-gray-700">

          <p>{{ .Summary }}</p>

          <div style="margin-top: auto;" class="pb-5 flex flex-row space-x-2">
            {{ range .Params.terms }}
              <div class="flex w-fit h-fit rounded bg-[#313244] ring-1 ring-gray-300 px-2">
                {{ . }}
              </div>
            {{ end }}
          </div>
        </div>

      </a>

    {{ end }}
  </div>

</section>

{{ end }}
